@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$font-family: "Poppins", sans-serif;
$bg-clr-pri: #22252d;
$white-clr: #ffffff;
$black-clr: #000000;
$dark-green-clr: #49edd1;
$light-red-clr: #e46766;
$button-clr: #282b33;
$bg-clr-second: #2a2d37;
